<%- include('includes/head.ejs') %>
    </head>

    <body>
        <main>
            <% if(names.length > 0) { %>
                <ul>
                    <% for(let name of names){ %>
                        <li>
                            <%= name.name %>
                        </li>
                        <% } %>
                </ul>
                <% }else{ %>
                    <h1>No user yet</h1>
                    <% } %>
        </main>
    </body>

    </html>